extends ../layouts/master.pug

include ../components/navigation
include ../components/docs-card
include ../components/tabs


block content
  -
    var ddata = [
      {
        title: 'С направляющими качения',
        text: 'Общие документы',
        count: 6,
      },
      {
        title: 'С направляющими качения и противошпинделем',
        text: 'Каталоги производителя',
        count: 2,
      },
      {
        title: 'С направляющими качения и осью Y',
        text: 'Каталоги производителя',
        count: 1,
      },
      {
        title: 'Роботизированные с направляющими качения токарно-фрезерные с направляющими качения',
        text: 'Каталоги производителя',
        count: 3,
      },
    ]
  .docs-page 
    section.section.section--first 
      .container 
        +navigation(page='Документация')
    section.section
      .container 
        .docs-page__row 
          .docs-page__col
            +tabs(tabs = ['Оборудование', 'Инструменты'])
          .docs-page__col
            .docs-page__selects
              .docs-page__selects-item 
                .select-wrapper 
                  .select
                    select.select__mobile(name='cat-mob' data-select-mobile='') 
                      option(value="" selected disabled)
                        |Выберите категорию
                      each item in data.selectValues.cat
                        option(value=item)
                          |#{item} 
                    select.select__select(data-select-placeholder='Выберите категорию' style='width: 100%' data-select-control='')
                      option(value='' disabled selected)
                      each item in data.selectValues.cat
                        option(value=item)
                          |#{item} 
    section.section 
      .container 
        h2
          |Токарные станки с ЧПУ
    each item, index in ddata
      section.section(class=(index === 3 ? "section--last" : ""))
        .container
          .docs-page__row 
            .docs-page__col
              h3.docs-page__title 
                |#{item.title}
              .docs-page__text 
                |#{item.text}
          .grid-container.margin-top.margin-top--md 
            - for (i = 0; i < item.count; i++)
              +docs-card
          .section 
            .docs-page__text 
              |Документация
            .grid-container.margin-top.margin-top--md 
              - for (i = 0; i < 6; i++)
                +docs-card
