extends ../layouts/master.pug

include ../components/navigation
include ../components/button
include ../components/tabs
include ../components/model-tabs
include ../components/modals


block content 
  -
    var ddata = [
      {
        label: 'Макс. длина точения, мм',
        text: '150'
      },
      {
        label: 'Диаметр патрона, мм',
        text: '150'
      },
      {
        label: 'Макс. диаметр прутковой заготовки, мм',
        text: '45'
      },
      {
        label: 'Харакатеристика шпинделя, кВт/об/мин',
        text: '7.5/6000'
      },
      {
        label: 'Макс. диаметр точения, мм',
        text: '300'
      },
    ]
  -
    var table = [
      {
        text: 'Модель',
        label: '',
      },
      {
        text: 'Макс. диаметр точения',
        label: 'мм',
      },
      {
        text: 'Макс. длина точения',
        label: 'мм',
      },
      {
        text: 'Диаметр патрона',
        label: 'мм',
      },
      {
        text: 'Макс. диаметр прутковой заготовки',
        label: 'мм',
      },
      {
        text: 'Харакатеристика шпинделя',
        label: 'кВт/об/мин',
      },
    ]
  .equip-page 
    section.section.section--first 
      .container 
        +navigation(items=['Оборудование', 'Токарные станки с ЧПУ'] page='Токарные станки с ЧПУ с направляющими качения ')
    section.section
      .container 
        .panel
          .panel__col
            .panel__container
              img(src="assets/images/equip-card-1.jpg", alt="")
          .panel__col
            .panel__text 
              |Токарные станки с ЧПУ на направляющих качения с максимальной частотой вращения шпинделя 6000 об/мин и возможностью установки фрезерного привода. Длинные заготовки возможно обрабатывать, используя заднюю бабку, поджимая автоматическим задним центром, также возможна обработка длинных валов, как в ручном, так и в автоматическом люнете.
          .panel__col  
            .button(data-fancy-button='10')
              |Материалы для скачивания
        .margin-top
          +tabs(tabs = ['Leadwell серия T', 'Leadwell серия LTC', 'Leadwell серия T/LTC'])
        .margin-top.margin-top--md 
          +model-tabs(items = ['Модели', 'Возможные опции'])
    section.section.section--white.section--table
      .equip-page__block.margin-top.margin-top--md 
        .equip-page__table
          .equip-page__table-head 
            .equip-page__table-wrapper 
              each item in table
                .equip-page__table-cell.equip-page__table-title
                  |#{item.text}
                  div
                    |#{item.label}
          .equip-page__table-body  
            - for (i = 0; i < 13; i++)
              a.equip-page__table-inner(href="#") 
                .equip-page__table-line
                  each item, i in ['T-5i', '300', '150', '150', '45', '7.5/6000']
                    .equip-page__table-cell 
                      |#{item}
                      if (i == 5)
                        .equip-page__table-icon 
                          +blue-arrow-svg.equip-page__table-svg
        ul.equip-page__block-list 
          - for (x = 0; x < 8; x++)
            li.equip-page__block-item
              a.equip-page__block-link(href="#")
                .equip-page__block-top 
                  .equip-page__block-caption 
                    |Модель
                  .equip-page__block-text
                    |T-5i
                .equip-page__block-body 
                  each item in ddata
                    .equip-page__block-cell 
                      .equip-page__block-label 
                        |#{item.label}
                      .equip-page__block-text 
                        |#{item.text}
                  .equip-page__table-icon 
                    +blue-arrow-svg.equip-page__table-svg
      .container 
        .equip-page__inner.equip-page__inner--lg
          +model-tabs(items = ['Модели', 'Возможные опции'])
      .equip-page__block.margin-top.margin-top--md 
        .equip-page__table
          .equip-page__table-head 
            .equip-page__table-wrapper
              each item in table
                .equip-page__table-cell.equip-page__table-title
                  |#{item.text}
                  div 
                    |#{item.label}
          .equip-page__table-body  
            - for (i = 0; i < 13; i++)
              a.equip-page__table-inner(href="#") 
                .equip-page__table-line
                  each item, i in ['LTC-150', '300', '150', '150', '45', '7.5/6000']
                    .equip-page__table-cell 
                      |#{item}
                      if (i == 5)
                        .equip-page__table-icon 
                          +blue-arrow-svg.equip-page__table-svg
        ul.equip-page__block-list 
          - for (x = 0; x < 8; x++)
            li.equip-page__block-item
              a.equip-page__block-link(href="#") 
                .equip-page__block-top 
                  .equip-page__block-caption 
                    |Модель
                  .equip-page__block-text
                    |T-5i
                .equip-page__block-body 
                  each item in ddata
                    .equip-page__block-cell 
                      .equip-page__block-label 
                        |#{item.label}
                      .equip-page__block-text 
                        |#{item.text}
                  .equip-page__table-icon 
                    +blue-arrow-svg.equip-page__table-svg
  +docs-modal