mixin aside 
  form.aside.form(action='/')
    -
      var ddata = [
        {
          title: 'Cерия фрезы',
          items: ['Оsawa alu по алюминию', 'Osawa G2 общего назначения с покрытием PV200', 'Osawa HF высокопроизводительные']
        },
      ]
    if (attributes.mobile)
      .aside__mobile(data-filters-button='')
        .aside__mobile-text 
          |Фильтры
          span.aside__num
        .aside__mobile-icon 
          |+
    .aside__content
      if (attributes.alt)
        .aside__card
          .aside__container 
            h5.aside__title 
              |Размер резьбы
            ul.aside__list.aside__inner
              - for (i = 0; i < 2; i++)
                li.aside__item 
                  .select-wrapper 
                    .select.select--small
                      select.select__mobile(name='cat-mob' data-select-mobile='') 
                        option(value="" selected disabled)
                          |Выбрать
                        each item in data.selectValues.cat
                          option(value=item)
                            |#{item} 
                      select.select__select(data-select-placeholder='Выбрать' style='width: 100%')
                        option(value='' disabled selected)
                        each item in data.selectValues.cat
                          option(value=item)
                            |#{item} 
        .aside__card
          .aside__container 
            h5.aside__title 
              |Размер резьбы
            ul.aside__list.aside__inner
              - for (i = 0; i < 2; i++)
                li.aside__item 
                  .checkbox 
                    label.checkbox__label
                      input.checkbox__input(type="checkbox")
                      .checkbox__box 
                        +check-svg.checkbox__svg
                      .tooltip
                        .checkbox__text.tooltip__row
                          |ISO2X
        .aside__card
          .aside__container 
            h5.aside__title 
              |Материал детали
            ul.aside__list.aside__inner
              each item in ['Углеродистая сталь', 'Нержавеющая сталь', 'Цветные металлы']
                li.aside__item 
                  .checkbox 
                    label.checkbox__label
                      input.checkbox__input(type="checkbox")
                      .checkbox__box 
                        +check-svg.checkbox__svg
                      .checkbox__text 
                        |#{item}
        .aside__card
          .aside__container 
            h5.aside__title 
              |Особенности
            ul.aside__list.aside__inner
              li.aside__item 
                .checkbox 
                  label.checkbox__label
                    input.checkbox__input(type="checkbox")
                    .checkbox__box 
                      +check-svg.checkbox__svg
                    .checkbox__text 
                      |Работают без СОЖ (только сквозные отверстия)
      else
        .aside__card
          .aside__container(data-aside-block='') 
            .aside__top
              h5.aside__title 
                |Размер резьбы
              .aside__clear.hidden(data-clear-block='')
                .aside__clear-svg 
                  +trash-svg 
                .aside__clear-text 
                  |Очистить
            .aside__selects.aside__inner
              .aside__select
                -
                  var items = [
                    {text: 'ISO2X', options: '["asd", "qwe"]'},
                    {text: 'ISO3X', options: '["zxc", "cbe"]'},
                    {text: 'ISO4X', options: '[123, 456]'}
                  ]
                .select-wrapper 
                  .select.select--small
                    select.select__mobile(name='cat-mob' data-select-mobile=''  data-select-control='') 
                      option(value="" selected disabled)
                        |Выбрать
                      each item in data.selectValues.threadSize
                        option(value=item)
                          |#{item} 
                    select.select__select(data-select-placeholder='Выбрать' style='width: 100%'  data-select-control='' data-select-aside='')
                      option(value='' disabled selected)
                      each item in items
                        option(value=item.text data-options=`${item.options}`)
                          |#{item.text} 
              .aside__char
                |х
              .aside__select
                .select-wrapper 
                  .select.select--small.disabled
                    select.select__mobile(name='cat-mob' data-select-mobile=''   data-select-control='') 
                      option(value="" selected disabled)
                        |Выбрать
                      each item in data.selectValues.threadSize
                        option(value=item)
                          |#{item} 
                    select.select__select(data-select-placeholder='Выбрать' style='width: 100%'   data-select-control='' data-select-dependent='')
                      option(value='' disabled selected)
                      //- each item in data.selectValues.threadSize
                      //-   option(value=item)
                      //-     |#{item} 
        .aside__card
          .aside__container(data-aside-block='') 
            .aside__top
              h5.aside__title 
                |Размер резьбы
              .aside__clear.hidden(data-clear-block='')
                .aside__clear-svg 
                  +trash-svg 
                .aside__clear-text 
                  |Очистить
            .aside__inner
              .select-wrapper 
                .select.select--small
                  select.select__mobile(name='cat-mob' data-select-mobile=''  data-select-control='') 
                    option(value="" selected disabled)
                      |Выбрать
                    each item in data.selectValues.threadSize
                      option(value=item)
                        |#{item} 
                  select.select__select(data-select-placeholder='Выбрать' style='width: 100%'  data-select-control='')
                    option(value='' disabled selected)
                    each item in data.selectValues.threadSize
                      option(value=item)
                        |#{item} 
        .aside__card
          .aside__container(data-aside-block='') 
            .aside__top
              h5.aside__title 
                |Размер резьбы
              .aside__clear.hidden(data-clear-block='')
                .aside__clear-svg 
                  +trash-svg 
                .aside__clear-text 
                  |Очистить
            .aside__inner
              .aside__spoiler(data-aside-accordion='')
                .aside__spoiler-top(data-accordion-button='')
                  .aside__spoiler-text(data-accordion-text='')
                    |Выбрать
                  .aside__spoiler-icon 
                    +arrow-svg.aside__spoiler-svg
                .aside__spoiler-dropdown(data-accordion-dropdown='')
                  ul.aside__list
                    li.aside__item 
                      .checkbox 
                        label.checkbox__label
                          input.checkbox__input(type="checkbox" data-aside-checkbox='' data-accordion-checkbox='ISO2X')
                          .checkbox__box 
                            +check-svg.checkbox__svg
                          .checkbox__text 
                            |ISO2X
                    li.aside__item 
                      .checkbox 
                        label.checkbox__label
                          input.checkbox__input(type="checkbox" data-aside-checkbox='' data-accordion-checkbox='ISO3X')
                          .checkbox__box 
                            +check-svg.checkbox__svg
                          .checkbox__text 
                            |ISO3X
                    li.aside__item 
                      .checkbox 
                        label.checkbox__label
                          input.checkbox__input(type="checkbox" data-aside-checkbox='' data-accordion-checkbox='ISO4X')
                          .checkbox__box 
                            +check-svg.checkbox__svg
                          .checkbox__text 
                            |ISO4X
        each item in ddata
          .aside__card
            .aside__container(data-accordion='' data-aside-block='') 
              .aside__top
                h5.aside__title 
                  |#{item.title}
                .aside__clear.hidden(data-clear-block='')
                  .aside__clear-svg 
                    +trash-svg 
                  .aside__clear-text 
                    |Очистить
              ul.aside__list.aside__inner
                each el in item.items
                  li.aside__item 
                    .checkbox 
                      label.checkbox__label
                        input.checkbox__input(type="checkbox" data-aside-checkbox='')
                        .checkbox__box 
                          +check-svg.checkbox__svg
                        .checkbox__text 
                          |#{el}
              .aside__dropdown(data-accordion-dropdown='')
                - for (i = 0; i < 2; i++)
                  .aside__item 
                    .checkbox 
                      label.checkbox__label
                        input.checkbox__input(type="checkbox" data-aside-checkbox='')
                        .checkbox__box 
                          +check-svg.checkbox__svg
                        .checkbox__text 
                          |Нержавеющая сталь
              .aside__button.aside__inner(data-button-show='' data-accordion-button='')
                .button-show
                  .button-show__text 
                    |Показать еще
                  .button-show__icon 
                    +arrow-svg.button-show__svg
        .aside__card 
          .aside__container(data-accordion='' data-aside-block='') 
            .aside__top
              h5.aside__title 
                |Тип фрезы, радиокнопки
              .aside__clear.hidden(data-clear-block='')
                .aside__clear-svg 
                  +trash-svg 
                .aside__clear-text 
                  |Очистить
            ul.aside__list.aside__inner
              li.aside__item 
                .radio 
                  label.radio__label
                    input.radio__input(type="radio" name='group1' checked data-radio-default='true')
                    .radio__circle
                      +circle-svg.radio__svg
                    .radio__text 
                      |Неважно
              each el, index in ['Острая кромка', 'Фаска 45°', 'Фаска 45° + радиус']
                li.aside__item 
                  .radio 
                    label.radio__label
                      input.radio__input(type="radio" name='group1')
                      .radio__circle
                        +circle-svg.radio__svg
                      .radio__text 
                        |#{el}
            .aside__dropdown(data-accordion-dropdown='')
              - for (i = 0; i < 2; i++)
                .aside__item 
                  .radio 
                    label.radio__label
                      input.radio__input(type="radio" name='group1')
                      .radio__circle
                        +circle-svg.radio__svg
                      .radio__text 
                        |Острая кромка
            .aside__button.aside__inner(data-button-show='' data-accordion-button='')
              .button-show
                .button-show__text 
                  |Показать еще
                .button-show__icon 
                  +arrow-svg.button-show__svg
        if (attributes.range)
          .aside__card(data-range-block='' data-aside-block='')
            .aside__container 
              .aside__top
                h5.aside__title 
                  |Диаметр фрезы, мм
                .aside__clear.hidden(data-clear-block='')
                  .aside__clear-svg 
                    +trash-svg 
                  .aside__clear-text 
                    |Очистить
              .range.aside__inner
                .range__top 
                  .range__row(data-range)
                    .range__item 
                      label.range__label
                        span.range__text 
                          |от
                        input.range__input(type="number" min='5' max='10' value='5' data-range-1 data-aside-input='')
                    .range__item 
                      label.range__label
                        span.range__text 
                          |до
                        input.range__input(type="number" min='5' max='10' value='10' data-range-2 data-aside-input='')
          .aside__card(data-aside-block='')
            .aside__container 
              .aside__top
                h5.aside__title 
                  |Численное значение, мм
                .aside__clear.hidden(data-clear-block='')
                  .aside__clear-svg 
                    +trash-svg 
                  .aside__clear-text 
                    |Очистить
              .aside__inner
                input.form__input.form__input--sm(type="number" value='' data-aside-input='' data-single-input='')
              .aside__error.hidden
                |Нет товаров с таким значением
      if (attributes.clear)
        .aside__btn
          .clear-button(data-clear-button='')
            .clear-button__icon 
              +trash-svg.clear-button__svg
            .clear-button__text 
              |Очистить выбранное
