mixin filters-menu 
  -
    var ddata = ['Материал детали', 'Cерия фрезы', 'Тип фрезы', 'Диаметр фрезы, мм', 'Длина фрезы, мм']
  .mobile-menu.mobile-menu--filters(data-filters-menu='')
    .mobile-menu__overlay 
    .mobile-menu__container
      h3.mobile-menu__title 
        |Фильтры
      .mobile-menu__column
        ul.mobile-menu__list 
          each item, i in ddata
            li.mobile-menu__item(data-modal-btn=`ww${i}`)
              .mobile-menu__item-text 
                |#{item}
                span.mobile-menu__item-count(data-filters-count='')
              .mobile-menu__item-icon 
                +arrow-svg.mobile-menu__item-svg
        .mobile-menu__buttons
          .mobile-menu__buttons-item
            .clear-button(data-filters-clear='')
              .clear-button__icon 
                +trash-svg.clear-button__svg
              .clear-button__text 
                |Очистить выбранное
          .mobile-menu__buttons-item 
            .button.button--filters(data-filters-accept='general')
              |Применить
      .mobile-menu__modals 
        each item, i in ddata
          .mobile-menu__modal(data-modal-menu=`ww${i}`) 
            .mobile-menu__modal-top 
              .mobile-menu__modal-back(data-modal-close=`ww${i}`) 
                .mobile-menu__modal-icon 
                  +arrow-svg.mobile-menu__modal-svg
                .mobile-menu__modal-text.mobile-menu__modal-text--default
                  |#{item}
            .mobile-menu__column
              ul.mobile-menu__filters 
                each text in ['Углеродистая сталь', 'Нержавеющая сталь', 'Чугун', 'Углеродистая сталь', 'Нержавеющая сталь', 'Чугун']
                  li.mobile-menu__filters-item
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="checkbox")
                        .checkbox__box 
                          +check-svg.checkbox__svg
                        .checkbox__text.checkbox__text--md
                          |#{text}
              .mobile-menu__buttons
                .button.button--filters(data-filters-accept=`ww${i}`)
                  |Применить
      .mobile-menu__btn(data-filters-button='')
        +close-svg