include ./button

mixin header
  .header 
    .header__inner 
      a.header__logo(href="#")  
        +logo-svg.header__svg
      .header__body 
        .header__top
          ul.header__list 
            each item in data.contacts 
              li.header__item 
                a.header__link(href="tel:" + item.phone) 
                  |#{item.phone}
                .header__label 
                  |#{item.city}
          .header__btn 
            .button.button--md(data-fancy-button='phone')
              |Заказать звонок
        .header__bot
          .header__col
            .header__accordion(data-accordion-header='1')
              .header__accordion-button 
                .header__accordion-text
                  |Оборудование 
                .header__accordion-icon
                  +arrow-svg.header__accordion-svg
            .header__accordion(data-accordion-header='2')
              .header__accordion-button 
                .header__accordion-text
                  |Инструмент 
                .header__accordion-icon
                  +arrow-svg.header__accordion-svg
            ul.header__nav
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |О нас
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Клиентам
              li.header__nav-item 
                .header__nav-button(data-accordion-header='3')
                  .header__nav-text
                    |Услуги 
                  .header__nav-icon
                    +arrow-svg.header__nav-svg
              li.header__nav-item 
                .header__nav-button(data-accordion-header='3')
                  .header__nav-text
                    |Публикации 
                  .header__nav-icon
                    +arrow-svg.header__nav-svg
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Контакты
          .header__col
            form.header__form(action="/") 
              label.header__search(for='search')
                button.header__search-icon 
                  +search-svg.header__search-svg
                input.header__search-input#search(type="text" name='search' placeholder="Поиск по интернет-магазину")
          .header__col
            .header__links 
              a.header__cart(href="#")  
                .header__cart-container
                  .header__cart-icon 
                    +cart-svg.header__cart-svg
                  .header__cart-count 
                    |5
              if (!attributes.login)
                .header__user.loged(data-fancy-button='1')
                  .header__user-icon
                    +user-svg.header__user-svg
                  .header__user-links 
                    .header__user-container
                      .header__user-top
                        .header__user-name 
                          |Кирилл
                      ul.header__user-list 
                        each item in ['Заказы', 'Cкидка', 'Мои данные', 'Выйти']
                          li.header__user-item
                            a.header__user-link(href="#") 
                              |#{item}
              else 
                .header__user.loged
                  .header__user-label 
                    |К.
                  .header__user-links 
                    .header__user-container
                      .header__user-top
                        .header__user-name 
                          |Кирилл
                      ul.header__user-list 
                        each item in ['Заказы', 'Cкидка', 'Мои данные', 'Выйти']
                          li.header__user-item
                            a.header__user-link(href="#") 
                              |#{item}
      .header__mobile 
        .header__mobile-row
          .header__mobile-col
            .header__mobile-search(data-search-button='')
              +search-svg.header__search-svg
          .header__mobile-col
            a.header__icon(href="#")
              +call-svg
          .header__mobile-col
            a.header__cart(href="#") 
              .header__cart-container
                .header__cart-icon 
                  +cart-svg.header__cart-svg
                .header__cart-count 
                  |5
          .header__mobile-col
            .header__menu
              .header__burger
                span.header__burger-span
                span.header__burger-span
                span.header__burger-span
        .mobile-menu  
          .mobile-menu__overlay 
          .mobile-menu__container
            .mobile-menu__top 
              .mobile-menu__col 
                a.mobile-menu__button(href="#" data-fancy-button='p1')  
                  .mobile-menu__icon 
                    +user-svg.mobile-menu__svg
                  .mobile-menu__text
                    |Личный кабинет
              .mobile-menu__col
                .button.button--menu(data-fancy-button='phone')
                  |Заказать звонок
            .mobile-menu__item.mobile-menu__item--bb(data-modal-btn='5')
              .mobile-menu__item-text 
                |Телефоны для связи
              .mobile-menu__item-icon 
                +arrow-svg.mobile-menu__item-svg
            ul.mobile-menu__list 
              each item, i in ['Оборудование', 'Инструмент', 'Услуги', 'Публикации']
                li.mobile-menu__item(data-modal-btn=i)
                  .mobile-menu__item-text 
                    |#{item}
                  .mobile-menu__item-icon 
                    +arrow-svg.mobile-menu__item-svg
            nav.mobile-menu__nav 
              each item in ['О нас', 'Клиентам', 'Контакты']
                a.mobile-menu__nav-link(href="#") 
                  |#{item}
            .mobile-menu__modals 
              .mobile-menu__modal(data-modal-menu='0') 
                .mobile-menu__modal-top 
                  .mobile-menu__modal-back(data-modal-close='0') 
                    .mobile-menu__modal-icon 
                      +arrow-svg.mobile-menu__modal-svg
                    .mobile-menu__modal-text 
                      |Оборудование
                ul.mobile-menu__list
                  each item, i in ['Токарные станки с ЧПУ', 'Фрезерные станки с ЧПУ', 'Вертикальные токарные и карусельные станки с ЧПУ', 'Ленточнопильные станки', 'Шлифовальные станки', 'Прессовое оборудование', 'Электроэрозионные станки', 'Универсальные станки', 'Раскроечные станки', 'Измерительное оборудование']
                    li.mobile-menu__item(data-modal-btn='q0')
                      .mobile-menu__item-text 
                        |#{item}
                      .mobile-menu__item-icon 
                        +arrow-svg.mobile-menu__item-svg
                .mobile-menu__modal(data-modal-menu='q0')
                  .mobile-menu__modal-top 
                    .mobile-menu__modal-back(data-modal-close='q0') 
                      .mobile-menu__modal-icon 
                        +arrow-svg.mobile-menu__modal-svg
                      .mobile-menu__modal-text 
                        |Токарные станки с ЧПУ
                  ul.mobile-menu__modal-list 
                    each item in ['С направляющими качения', 'С направляющими качения и противошпинделем', 'С направляющими качения и осью Y', 'Роботизированные с направляющими качения токарно-фрезерные с направляющими качения', 'С направляющими скольжения', 'С направляющими скольжения и осью Y', 'Трубообрабатывающие', 'Автоматы продольного точения']
                      li.mobile-menu__modal-item
                        a(href="#") 
                          |#{item}
              .mobile-menu__modal(data-modal-menu='1') 
                .mobile-menu__modal-top 
                  .mobile-menu__modal-back(data-modal-close='1') 
                    .mobile-menu__modal-icon 
                      +arrow-svg.mobile-menu__modal-svg
                    .mobile-menu__modal-text 
                      |Инструмент
                ul.mobile-menu__list
                  each item, i in ['Корпусной режущий инструмент', 'Осевой режущий инструмент', 'Вспомогательный инструмент для фрезерных станков с ЧПУ', 'Вспомогательный инструмент для токарных станков с ЧПУ', 'Приспособления', 'Аксессуары для инструмента']
                    li.mobile-menu__item(data-modal-btn='q1')
                      .mobile-menu__item-text 
                        |#{item}
                      .mobile-menu__item-icon 
                        +arrow-svg.mobile-menu__item-svg
                .mobile-menu__modal(data-modal-menu='q1')
                  .mobile-menu__modal-top 
                    .mobile-menu__modal-back(data-modal-close='q1') 
                      .mobile-menu__modal-icon 
                        +arrow-svg.mobile-menu__modal-svg
                      .mobile-menu__modal-text 
                        |Корпусной режущий инструмент
                  ul.mobile-menu__modal-list 
                    each item in ['Пластины для точения', 'Пластины для фрезерования', 'Державки MICRONEGA', 'Корпусные сверла', 'Токарные пластины MICRONEGA', 'Пластины для корпусных сверл', 'Державки MICROBORING', 'Токарные пластины MICROBORING', 'Токарные державки', 'Корпусные фрезы']
                      li.mobile-menu__modal-item
                        a(href="#") 
                          |#{item}
              .mobile-menu__modal(data-modal-menu='2') 
                .mobile-menu__modal-top 
                  .mobile-menu__modal-back(data-modal-close='2') 
                    .mobile-menu__modal-icon 
                      +arrow-svg.mobile-menu__modal-svg
                    .mobile-menu__modal-text 
                      |Услуги
                ul.mobile-menu__modal-list 
                  each item in ['Подбор инструмента', 'Ленточные пилы', 'Сервис', 'Инжиниринг', 'Обучение', 'Лизинг']
                    li.mobile-menu__modal-item
                      a(href="#") 
                        |#{item}
              .mobile-menu__modal(data-modal-menu='3') 
                .mobile-menu__modal-top 
                  .mobile-menu__modal-back(data-modal-close='3') 
                    .mobile-menu__modal-icon 
                      +arrow-svg.mobile-menu__modal-svg
                    .mobile-menu__modal-text 
                      |Услуги
                ul.mobile-menu__modal-list 
                  each item in ['Подбор инструмента', 'Ленточные пилы', 'Сервис', 'Инжиниринг', 'Обучение', 'Лизинг']
                    li.mobile-menu__modal-item
                      a(href="#") 
                        |#{item}
              .mobile-menu__modal(data-modal-menu='5') 
                .mobile-menu__modal-top 
                  .mobile-menu__modal-back(data-modal-close='5') 
                    .mobile-menu__modal-icon 
                      +arrow-svg.mobile-menu__modal-svg
                    .mobile-menu__modal-text.mobile-menu__modal-text--default
                      |Телефоны для связи
                ul.mobile-menu__modal-list 
                  each item in data.contacts 
                    li.mobile-menu__modal-item
                      a.header__link(href="tel:" + item.phone) 
                        |#{item.phone}
                      .header__label 
                        |#{item.city}
        .search-modal(data-search-modal='')
          form.search-modal__form(action="/")
            .search-modal__inner
              label.search-modal__label
                input.search-modal__input(type="text" placeholder='Поиск по интернет-магазину' required)
              .search-modal__button(data-search-button='')
                +close-svg
    .header__modal 
      .header__modal-overlay
      .header__modal-product(data-header-modal='1')
        .header__modal-container 
          .header__modal-row 
            .header__modal-col 
              ul.header__modal-list
                each item, i in ['Токарные станки с ЧПУ', 'Фрезерные станки с ЧПУ', 'Вертикальные токарные и карусельные станки с ЧПУ', 'Ленточнопильные станки', 'Шлифовальные станки', 'Прессовое оборудование', 'Электроэрозионные станки', 'Шлифовальные станки', 'Универсальные станки', 'Прессовое оборудование', 'Раскроечные станки', 'Электроэрозионные станки', 'Измерительное оборудование', ]
                  li.header__modal-item(class=(i === 0 ? 'active' : '') data-category-item='')
                    |#{item}
            .header__modal-col 
              - for (x = 0; x < 13; x++)
                ul.header__listing(class=(x === 0 ? 'active' : '') data-category-list='')
                  each item in ['С направляющими скольжения', 'С направляющими скольжения и осью Y', 'Трубообрабатывающие', 'Автоматы продольного точения', 'С направляющими качения ', 'С направляющими качения и противошпинделем', 'С направляющими качения и осью Y', 'Роботизированные с направляющими качения', 'Токарно-фрезерные с направляющими качения ']
                    li.header__listing-item 
                      a.header__listing-link(href="#") 
                        |#{item} #{x + 1}
      .header__modal-product(data-header-modal='2')
        .header__modal-container 
          .header__modal-row 
            .header__modal-col 
              ul.header__modal-list
                each item, i in ['Корпусной режущий инструмент', 'Осевой режущий инструмент', 'Вспомогательный инструмент для фрезерных станков с ЧПУ', 'Вспомогательный инструмент для токарных станков с ЧПУ', 'Приспособления', 'Аксессуары для инструмента']
                  li.header__modal-item(class=(i === 0 ? 'active' : '') data-category-item='')
                    |#{item}
            .header__modal-col  
              - for (x = 0; x < 6; x++)
                ul.header__listing(class=(x === 0 ? 'active' : '') data-category-list='')
                  each item in ['Пластины для точения', 'Токарные пластины MICRONEGA', 'Токарные пластины MICROBORING', 'Пластины для фрезерования', 'Пластины для корпусных сверл', 'Токарные державки', 'Державки MICRONEGA', 'Державки MICROBORING', 'Корпусные сверла', 'Корпусные фрезы']
                    li.header__listing-item 
                      a.header__listing-link(href="#") 
                        |#{item} #{x + 1}
      .header__modal-product(data-header-modal='3')
        .header__modal-container 
          ul.header__modal-list.header__modal-list--transparent
            each item in ['Подбор инструмента', 'Ленточные пилы', 'Сервис', 'Инжиниринг', 'Обучение', 'Лизинг']
              li.header__modal-item 
                |#{item}
    if (attributes.panel)
      .header__panel