mixin header
  .header 
    .header__inner 
      a.header__logo(href="#")  
        +logo-svg.header__svg
      .header__body 
        .header__top
          ul.header__list 
            each item in data.contacts 
              li.header__item 
                a.header__link(href="tel:" + item.phone) 
                  |#{item.phone}
                .header__label 
                  |#{item.city}
          .header__btn 
            a.button.button--md(href="#") 
              |Заказать звонок
        .header__bot
          .header__col
            .header__accordion(data-accordion-header='1')
              .header__accordion-button 
                .header__accordion-text
                  |Оборудование 
                .header__accordion-icon
                  +arrow-svg.header__accordion-svg
              .header__accordion-dropdown
            .header__accordion(data-accordion-header='2')
              .header__accordion-button 
                .header__accordion-text
                  |Инструмент 
                .header__accordion-icon
                  +arrow-svg.header__accordion-svg
              .header__accordion-dropdown
            ul.header__nav
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |О нас
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Клиентам
              li.header__nav-item 
                .header__nav-button(data-accordion-header='3')
                  .header__nav-text
                    |Услуги 
                  .header__nav-icon
                    +arrow-svg.header__nav-svg
                .header__nav-dropdown
              li.header__nav-item 
                a.header__nav-link(href="#") 
                  |Контакты
          .header__col
            form.header__form(action="/") 
              label.header__search(for='search')
                button.header__search-icon 
                  +search-svg.header__search-svg
                input.header__search-input#search(type="text" name='search' placeholder="Поиск по интернет-магазину")
          .header__col
            .header__links 
              a.header__cart(href="#") 
                .header__cart-icon 
                  +cart-svg
                .header__cart-count 
                  |5
              .header__user(data-fancy-button='1')
                .header__user-icon
                  +user-svg
                .header__user-links 
                  .header__user-container
                    .header__user-top
                      .header__user-name 
                        |Кирилл
                    ul.header__user-list 
                      each item in ['Заказы', 'Cкидка', 'Мои данные', 'Выйти']
                        li.header__user-item
                          a.header__user-link(href="#") 
                            |#{item}
      .header__mobile 
        .header__mobile-col
          .header__mobile-search
            +search-svg.header__search-svg
        .header__mobile-col
          a.header__cart(href="#") 
            .header__cart-icon 
              +cart-svg.header__cart-svg
            .header__cart-count 
              |5
        .header__mobile-col
          .header__menu
            .header__burger
              span.header__burger-span
              span.header__burger-span
              span.header__burger-span
    .header__modal 
      .header__modal-overlay
      .header__modal-product(data-header-modal='1')
        .header__modal-container 
          .header__modal-row 
            .header__modal-col 
              ul.header__modal-list
                each item in ['Токарные станки с ЧПУ', 'Фрезерные станки с ЧПУ', 'Вертикальные токарные и карусельные станки с ЧПУ', 'Ленточнопильные станки', 'Шлифовальные станки', 'Прессовое оборудование', 'Электроэрозионные станки', 'Шлифовальные станки', 'Универсальные станки', 'Прессовое оборудование', 'Раскроечные станки', 'Электроэрозионные станки', 'Измерительное оборудование', ]
                  li.header__modal-item 
                    |#{item}
            .header__modal-col 
              ul.header__listing
                each item in ['С направляющими скольжения', 'С направляющими скольжения и осью Y', 'Трубообрабатывающие', 'Автоматы продольного точения', 'С направляющими качения ', 'С направляющими качения и противошпинделем', 'С направляющими качения и осью Y', 'Роботизированные с направляющими качения', 'Токарно-фрезерные с направляющими качения ']
                  li.header__listing-item 
                    |#{item}
      .header__modal-product(data-header-modal='2')
        .header__modal-container 
          .header__modal-row 
            .header__modal-col 
              ul.header__modal-list
                each item in ['Корпусной режущий инструмент', 'Осевой режущий инструмент', 'Вспомогательный инструмент для фрезерных станков с ЧПУ', 'Вспомогательный инструмент для токарных станков с ЧПУ', 'Приспособления', 'Аксессуары для инструмента']
                  li.header__modal-item 
                    |#{item}
            .header__modal-col 
              ul.header__listing
                each item in ['Пластины для точения', 'Токарные пластины MICRONEGA', 'Токарные пластины MICROBORING', 'Пластины для фрезерования', 'Пластины для корпусных сверл', 'Токарные державки', 'Державки MICRONEGA', 'Державки MICROBORING', 'Корпусные сверла', 'Корпусные фрезы']
                  li.header__listing-item 
                    |#{item}
      .header__modal-product(data-header-modal='3')
        .header__modal-container 
          ul.header__modal-list.header__modal-list--transparent
            each item in ['Подбор инструмента', 'Ленточные пилы', 'Сервис', 'Инжиниринг', 'Обучение', 'Лизинг']
              li.header__modal-item 
                |#{item}