include ./model-tabs
include ./docs-card

mixin login-modal 
  -
    var ddata = {
      user: [
        {
          type: 'text',
          placeholder: 'Имя',
        },
        {
          type: 'email',
          placeholder: 'E-mail',
        },
        {
          type: 'password',
          placeholder: 'Пароль',
        },
        {
          type: 'password',
          placeholder: 'Повторите пароль',
        },
      ],
      corp: [
        {
          type: 'email',
          placeholder: 'E-mail*',
        },
        {
          type: 'password',
          placeholder: 'Пароль*',
        },
        {
          type: 'password',
          placeholder: 'Повторите пароль*',
        },
        {
          type: 'text',
          placeholder: 'Название компании*',
        },
        {
          type: 'text',
          placeholder: 'ИНН*',
        },
      ]
    }
  .login-modal(data-fancy-modal='1')
    .login-modal__container(data-tabs-parent='' data-form-parent='')
      h3.login-modal__wrapper
        |Войти
      .login-modal__inner 
        +model-tabs(items = ['Есть аккаунт' , 'Регистрация'] real=true)
      .tabs-block.active(data-tabs-block='')
        form.form(action="/" data-form='123')
          .form__item 
            input.form__input(type="email" placeholder='E-mail' required) 
          .form__item 
            input.form__input(type="password" placeholder="Пароль" required) 
          .form__item 
            button.button.button--wide(data-form-button='123' required)
              |Войти
      .tabs-block(data-tabs-block='')
        .form
          p.login-modal__text.login-modal__inner
            |Регистрация на нашем сайте позволяет видеть историю покупок, получать информацию о новых акциях и скидках, упрощает оформление заказа
          .login-modal__wrapper
            .checkbox.checkbox--lg
              label.checkbox__label
                input.checkbox__input(type="checkbox" checked data-login-checkbox='')
                .checkbox__box 
                  +check-svg.checkbox__svg
                .tooltip
                  .checkbox__text.tooltip__row
                    |Юридическое лицо
                    span.tooltip__span
                      .tooltip__icon 
                        +tooltip-svg.tooltip__svg
                  .tooltip__container   
                    |Для юридических лиц предусмотренна программа лояльности.
          form.login-modal__form.active(data-form-corp='' action="/" data-form='123')
            each item in ddata.corp 
              .form__item 
                input.form__input(type=item.type placeholder=item.placeholder required) 
            .form__item 
              input.form__input(type='text' placeholder='Телефон для связи*' data-mask='phone' required) 
            .form__item 
              input.form__input(type='text' placeholder='Контактное лицо*' required) 
            .form__item.form__item--big
              .checkbox.checkbox--start
                label.checkbox__label
                  input.checkbox__input(type="checkbox" name='policy' required)
                  .checkbox__box 
                    +check-svg.checkbox__svg
                  .checkbox__text
                    |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
            .form__item.form__item--big 
              button.button.button--wide(data-form-button='123')
                |Зарегистрироваться
          form.login-modal__form(data-form-user='' action="/" data-form='1')
            each item in ddata.user
              .form__item 
                input.form__input(type=item.type placeholder=item.placeholder required) 
            .form__item.form__item--big
              .checkbox.checkbox--start
                label.checkbox__label
                  input.checkbox__input(type="checkbox" name='policy' required)
                  .checkbox__box 
                    +check-svg.checkbox__svg
                  .checkbox__text
                    |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
            .form__item.form__item--big 
              button.button.button--wide(data-form-button='1')
                |Зарегистрироваться
          //- .form__item.form__item--big
          //-   .checkbox.checkbox--start
          //-     label.checkbox__label
          //-       input.checkbox__input(type="checkbox" name='policy' required)
          //-       .checkbox__box 
          //-         +check-svg.checkbox__svg
          //-       .checkbox__text
          //-         |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
          //- .form__item.form__item--big 
          //-   button.button.button--wide(data-form-button='1')
          //-     |Зарегистрироваться
    .response(data-response="1")
      h3.response__title
        |Вы зарегистрировались
      p.response__text 
        |Благодарим за регистрацию на нашем сайте. Теперь вам доступен Личный кабинет, в котором можно просматривать историю покупок, видеть статус заказа и редактировать контактные данные.
    .response(data-response='123')
      h3.response__title
        |Заявка отправлена
      p.response__text 
        |Мы свяжемся с вами по указанному номеру при регистрации для подтверждения статуса юридического лица.

mixin docs-modal 
  .docs-modal(data-fancy-modal='10')
    .docs-modal__container 
      h3.docs-modal__title 
        |Материалы для скачивания
      .grid-container.grid-container--2
        - for (x = 0; x < 6; x++)
          +docs-card.docs-card--modal

mixin phone-modal 
  .phone-modal(data-fancy-modal=attributes.id)
    .phone-modal__container(data-form-parent='')
      h3.phone-modal__title
        |#{attributes.title ? attributes.title : 'Заказать звонок'}
      form.form(action="/" data-form='w2') 
        .form__item 
          input.form__input(type="email" placeholder='Имя*' required)
        .form__item 
          input.form__input(type="text" placeholder='Телефон*' required data-mask='phone')
        .form__item 
          input.form__input(type="text" placeholder='E-mail*' required)
        .form__item.form__item--big
          .checkbox.checkbox--start
            label.checkbox__label
              input.checkbox__input(type="checkbox" name='policy' required)
              .checkbox__box 
                +check-svg.checkbox__svg
              .checkbox__text
                |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
        .form__item.form__item--big
          button.button.button--wide(data-form-button='w2')
            |#{attributes.button ? attributes.button :'Заказать звонок'}
    .response(data-response='w2')
      h3.response__title
        |Спасибо
      p.response__text 
        |Мы свяжемся с вами в ближайшее время.

mixin profile-modal
  .profile-modal(data-fancy-modal='p1')
    .profile-modal__container 
      .profile-modal__top
        h5
          |Кирилл
      .profile-modal__body  
        ul.profile-modal__list 
          each item in ['Заказы', 'Cкидка', 'Мои данные', 'Выйти']
            li.profile-modal__item 
              a.profile-modal__link(href="#") 
                |#{item}